@charset "UTF-8";

.wrapper_itaru{
    max-width:2200px;
    min-width: 375px;
    margin: 0 auto;
}
body {
    font-family: sans-serif;
     }
.navbar{
    height:57px;
    max-width:2200px;
    width: 100%;
    position:absolute;
}
.navbar_back_itaru{
    height:57px;
    max-width:2200px;
    position:relative;
    display: flex;
    background-color:rgba(255, 255, 255, 0.5);
    z-index:2;
}
.logo_itaru{
    height:57px;
}

.fb_logo_itaru{
    height:28px;
}
.contact_text_itaru{
    font-size:16px;
    padding-top:2px;
}
.DivLink_itaru{
    position:relative;
    padding-left:8px;
}
.DivLink_itaru .Link_itaru{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width:960px){
    .navbar{
        height:45px;
    }
    .navbar_back_itaru{
        height:45px;
    }
    .logo_itaru{
        height:45px;
    }
    .fb_logo_itaru{
        height:22px;
    }
    .contact_text_itaru{
      padding-top:2px;
      font-size:14px;
    }
}
@media (max-width:520px){
    .navbar{
        min-width: 375px;
        height:35px;
    }
    .navbar_back_itaru{
        min-width: 375px;
        height:35px;
    }
    .logo_itaru{
        height:35px;
    }
    .fb_logo_itaru{
        height:15px;
    }
    .contact_text_itaru{
        padding-top:5px;
        font-size:10px;
    }

}


.carousel-caption{
    background-color:rgba(255, 255, 255, 0.7);
    border-radius:20px;
    max-width: 620px;
    height: 320px;
    margin: 2rem auto 0;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
}
.main_title_div_itaru{
    padding-top:30px;
    max-width:318px;
    margin:auto;
}
.main_title_1_itaru{
    color:#595757;
    padding-top:20px;
    font-weight:300;
    font-size:28px;
    letter-spacing:22px;
    white-space:nowrap;
    overflow:hidden;
    animation:main_title 2s linear;
}
@keyframes main_title{
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
.main_title_2_itaru{
    font-weight:normal;
    font-size:32px;
    letter-spacing:7px;
    color: transparent;
    text-stroke: 1px white;
    -webkit-text-stroke: 1px #595757;
    padding-top:10px;
    padding-bottom:10px;
}
/*ダイヤモンドと横棒のブロック*/
.main_title_daiya_block_itaru{
    max-width:320px;
    position:relative;
    margin:auto
}
.left_daiya_itaru{
    height:14px;
    position:absolute;
    top:-6px;
    left:0;
    right:auto;
}
.main_title_border_itaru{
    width:290px;
    border-bottom: 1.5px solid #595757;
    margin:auto;
}
.right_daiya_itaru{
    height:14px;
    position:absolute;
    top:-7px;
    left:auto;
    right:0;
}

/*同志よ、ともに～*/
.main_title_p_block_itaru{
    max-width:290px;
    height:45px;
    position:relative;
    margin:auto;
}
.main_title_p1_itaru{
    color:#595757;
    font-size:17px;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    transform:scale(0.5);
    letter-spacing: 1px;
    position:absolute;
    top:10px;
    left:-48px;
    right:auto;
}
.main_title_p2_itaru{
    height:30px;
    color:#595757;
    font-weight:bold;
    font-size:12px;
    letter-spacing: 1px;
    padding-top:6px;
    padding-left:12px;
    position:absolute;
    top:7px;
    left:auto;
    right:0;
    border-left: 1px solid #707070;
}
.main_title_3_itaru{
    display:none;
}
@media (max-width: 960px){
    .carousel-caption{
    padding-top: 3vw;
    max-width: 480px;
    max-height: 220px;
    height:35vw;
    top: 45%;
    transform: translateY(-50%);
    }
    .main_title_div_itaru{
    padding-top:2px;
    max-width:318px;
    }
    .main_title_1_itaru{
        padding-top:10px;
        font-size:26px;
        margin-left:8px;
    }
    .main_title_2_itaru{
        padding-top:5px;
        margin-bottom: 0;
        font-size:25px;
    }
    .main_title_p_block_itaru{
    height:40px;
    }
}

@media (max-width: 520px){
    .carousel-caption{
    padding-top: 4vw;
    max-width: 480px;
    max-height: 220px;
    height:32vw;
    top: 50%;
    transform: translateY(-60%);
    }
    .main_title_div_itaru{
    padding-left:8px;
    }
    .main_title_1_itaru{
        margin:  0 auto;
        font-size:12px;
        letter-spacing:15px;
        width:185px;
    }
    .main_title_2_itaru{
        font-size:14px;
        padding:8px 0 10px 0;
    }
    /*ダイヤモンドと横棒のブロック*/
    .main_title_daiya_block_itaru{
        display:none;
    }
    .left_daiya_itaru{
        display:none;
    }
    .main_title_border_itaru{
        display:none;
    }
    .right_daiya_itaru{
        display:none;
    }
    .main_title_p1_itaru{
        display:none;
    }
    .main_title_p2_itaru{
        display:none;
    }
    .main_title_p_block_itaru{
    height:2px;
    width:50px;
    border-bottom: 0.5px solid #595757;
    }
    .main_title_p3_itaru{
    color:#595757;
    padding-top:0.5rem;
    margin-bottom:0px;
    font-size:10px;
    -webkit-transform:scale(0.5);
    -moz-transform:scale(0.5);
    -ms-transform:scale(0.5);
    -o-transform:scale(0.5);
    transform:scale(0.5);
    }
    .main_title_p4_itaru{
    color:#595757;
    font-weight:bold;
    padding-top:0px;
    font-size:10px;
    letter-spacing:2px;
    }
}

@media (max-width: 490px){
    .carousel-caption{
        padding-top: 3vw;
    }
}
@media (max-width: 450px){
    .carousel-caption{
        padding-top: 2vw;
    }
}
@media (max-width: 420px){
    .carousel-caption{
        padding-top: 1vw;
    }
    .main_title_div_itaru{
        padding-left:8px;
    }
    .main_title_2_itaru{
        padding:8px 0 5px 0;
    }
    .main_title_p_block_itaru{
        height:2px;
        width:50px;
        border-bottom: 0.5px solid #595757;
    }
    .main_title_p3_itaru{
        color:#595757;
        padding-top:2px;
        margin-bottom:0px;
    }
}

/*footer*/
.footer{
    background-color:#969696;
    height:165px;
    position:relative;
}
.footer_border{
    width:50vw;
    border-bottom:solid;
    border-color:#C4C4C4;
    border-width:0.2px;
    padding-top: 50px;
    margin:auto
}
.footer p{
    color:#E6E6E6;
    padding-top: 20px;
    text-align:center;
    font-size:20px;
}
.footer_logo{
    position:absolute;
    height:160px;
    top:7px;
    right: 0;
    left: auto;
}
@media (max-width: 960px){
    .footer{
        height:20vw;
        }
    .footer_logo{
        height:18vw;
        }
    .footer p{
        color:#E6E6E6;
        padding-top: 14px;
        text-align:center;
        font-size:16px;
    }
}
@media (max-width: 520px){
    .footer{
        height:22vw;
        }
    .footer_logo{
        height:20vw;
        }
    .footer_border{
    width:40vw;
        }
    .footer p{
    padding-top: 2vw;
    font-size:1vw;
    }
}

/* -----aoubt_us ここから----- */
html { font-size:62.5%}

.about_us_morita h3 {
  font-size: 2.4rem;
  font-weight: normal;
}

.about_us_morita p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin: 1.2rem 0px;
}

.about_us_morita img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

.about_us_morita div {
  box-sizing: border-box;
}

.about_us_morita {
  background-image: url(../images/background_image.jpg);
  background-repeat: repeat;
  background-size:  2200px auto;
  width: 100%;
  height: 702px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_morita{
  width: 90%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_images_morita{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.top_images_morita .left_side_morita {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.top_images_morita .right_side_morita {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}


.content_morita {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  padding: 5.5% 10%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.castle_morita {
  width: 28%;
  height: auto;
  margin: 0px auto 0px 15%;
  display: flex;
  align-items: flex-end;
}

.samurai_morita {
  width: 22%;
  height: auto;
  margin:  0px 11%;
  display: flex;
  align-items: flex-end;
}

.tourou_morita {
  width: 9%;
  height: auto;
  margin: 0px 2.6%;
  display: flex;
  align-items: flex-end;
}

.bamboo_morita {
  width: 24%;
  height: auto;
  margin: 0px 11% 0px 0px;
  display: flex;
  align-items: flex-end;
}

.top_icon_morita {
  width: 20%;
  height: auto;
}

.scroll_up {
  transition: 0.6s ease-in-out;
  transform: translateY(100px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

/* 600px以下のサイズの場合のレイアウト
----------------------------------------------------*/
@media (max-width: 600px) {

 .about_us_morita {
    min-width: 375px;
    height: auto;
  }

  .container_morita{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 5%;
  }
  
  .content_morita {
    border-radius: 25px;
  }
 
}
/* ------about_us ここまで----- */
/* ------hagakureここから----- */
.windy_contine_yhikaru{
    position: relative; 
    z-index: 10;
    max-height: 286px; 
    min-height: 286px;
    max-width: 2200px;
}
.particles-js{
    position: absolute; 
    z-index: -1;
}
.hagakure-containe_yhikaru {
    z-index: -1; 
    background-color:#F9CCD2;
    display: flex;
    max-height: 286px; 
    min-height: 286px;
}
.hagakure-containe_yhikaru img {
    width: 100%;
}
.hagakure_samurai_1_yhikaru  {
    position: absolute; 
    width: 320px;
    left:8%;
    margin-top:20px;
    transform: rotateZ(-10deg);
}
.hagakure_topicon_yhikaru {
    width: 120px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.hagakure-inner_yhikaru h1 {
    font-size:2.4rem;
    text-align:center;
    margin-top: -30px;
    margin-bottom: 15px
}
.hagakure-inner_yhikaru  {
    width: 100%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.hagakure-summary_yhikaru  {
    margin-top: px;
    margin-top: 20px;
    max-width: 35%;
    font-size:1.2rem;
    line-height: 1.7;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.hagakure_samurai_2_yhikaru {
    position: absolute; 
    width: 320px;
    right:8%;
    margin-top:20px;
    transform: rotateZ(15deg);
}
@media screen and (max-width: 1440px) {
    .hagakure_samurai_1_yhikaru {
    position: absolute; 
    width: 270px;
    left:50px;
    margin-top:35px;
    transform: rotateZ(-10deg);
    }
    .hagakure-summary_yhikaru  {
    margin-top: 12px;
    max-width: 40%;
    font-size:1.2rem;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    }
    .hagakure_samurai_2_yhikaru {
    position: absolute; 
    width: 270px;
    right:50px;
    margin-top:35px;
    transform: rotateZ(20deg);
    }
}
@media screen and (max-width: 1028px) {
    .hagakure_samurai_1_yhikaru {
    position: absolute; 
    width: 240px;
    left:-20px;
    margin-top:45px;
    transform: rotateZ(-10deg);
    }
    .hagakure-summary_yhikaru  {
    margin-top: 12px;
    max-width: 40%;
    font-size:1.2rem;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    }
    .hagakure_samurai_2_yhikaru {
    position: absolute; 
    width: 240px;
    right:-20px;
    margin-top:45px;
    transform: rotateZ(20deg);
    }
}
@media screen and (max-width: 600px) {
    .windy_contine_yhikaru {
    position: relative; 
    min-width: 375px;
    height: auto;
    }
    .hagakure_samurai_1_yhikaru {
    display: none;
    }
    .hagakure_topicon_yhikaru {
    width: 20%;
    margin-top: 10px;
    }
    .hagakure-inner_yhikaru {
    margin-top:12px;
    width: 100%;
    font-size: 0.8rem;
    }
    .hagakure-inner_yhikaru h1 {
    margin-top:-25px;
    width: 100%;
    font-size: 2.3rem;
    }
    .hagakure-summary_yhikaru {
    max-width: 72%;
    margin-top: 20px;
    font-size: 1.2rem;
    }
    .hagakure_samurai_2_yhikaru {
    display: none;
    }
}
/* ------hagakureここまで---- */

.container_sns_fumoto{
  background-image: url(../images/background_image.jpg);
  background-repeat: repeat;
  background-size:  1100px auto;
  width: 100%;
　min-width: 375px;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.item_left_fumoto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}

.cloud_fumoto {
  position: absolute;
  right: 100px;
  bottom: 150px;
  width: auto;
  height: 200px;
  margin: 0px 20% 0px 0px;
}

.forest_fumoto {
  width: auto;
  height: 200px;
  margin: 0px 20% 0px 0px;
}


.background-image_makimono_fumoto{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.makimono_image_fumoto{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.makimono_fumoto {
  width: 120px;
}


.sns_part_fumoto{
   color: black;
   font-size: 2.4rem;
   font-weight: normal;
   text-align: center;
   max-width: 500px;
}


.facebook_shinfumoto_fumoto{
  display: none;
}

@media(max-width:600px){
  .facebook_widefumoto_fumoto{
    display: none;
  }

  .facebook_shinfumoto_fumoto{
    width: 320px;
    display: initial;
  }
}

.item_right_fumoto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.castle_fumoto {
  width: auto;
  height: 200px;
  margin: 0px 0px 0px 20%;
}

  @media(max-width:1500px){
    .cloud_fumoto {
      position: absolute;
      right: 20%;
      bottom: 100px;
      width: 50%;
      height: auto;
      margin: 0px 20% 0px 0px;
    }

    .forest_fumoto {
      width: 50%;
      height: auto;
      margin: 0px 20% 0px 0px;
    }
    .castle_fumoto {
      width: 50%;
      height: auto;
      margin: 0px 0px 0px 20%;
    }

    @media(max-width:1100px){
      .cloud_fumoto {
        position: absolute;
        right: 20%;
        bottom: 100px;
        width: 150px;
        height: auto;
        margin: 0 auto;
      }

      .forest_fumoto {
        width: 150px;
        height: auto;
        margin: 0 0 0 auto;
      }
      .castle_fumoto {
        width: 150px;
        height: auto;
        margin: 0px 0px 0px 0px;
      }


@media(max-width:840px){
  .cloud_fumoto {
    display: none;
  }
  .forest_fumoto {
    display: none;
  }
  .castle_fumoto {
    display: none;
  }
}

